<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>

<body>
    <section>
        <div class="container p-5">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-5 mt-5">
                    <div class="bg-white p-5 rounded-3 shadow-sm border">
                        <div class="alert" role="alert" th:if="${session.message}" th:classappend="${session.message.type}">
                            <p th:text="${session.message.content}"></p>
                            <div th:text="${@sessionUtilityBean.removeVerificationMessageFromSession()}"></div>
                        </div>
                        <form th:action="@{/verifyotp}" method="POST">
                            <div>
                                <p class="text-center text-success" style="font-size: 5.5rem;">
                                    <i class="fa-solid fa-envelope-circle-check"></i>
                                </p>
                                <p class="text-center h5">Please check your email</p>
                                <p class="text-muted text-center">We've sent a code to contact@curfcode.com</p>
                                <div class="row pt-4 pb-2">
                                    <div class="col-3">
                                        <input class="otp-letter-input" type="text" name="otp1" maxlength="1" required>
                                    </div>
                                    <div class="col-3">
                                        <input class="otp-letter-input" type="text" name="otp2" maxlength="1" required>
                                    </div>
                                    <div class="col-3">
                                        <input class="otp-letter-input" type="text" name="otp3" maxlength="1" required>
                                    </div>
                                    <div class="col-3">
                                        <input class="otp-letter-input" type="text" name="otp4" maxlength="1" required>
                                    </div>
                                </div>
                                <p class="text-muted text-center">Didn't get the code?
                                    <a href="#" class="text-success">Click to resend.</a>
                                </p>
                                <div class="row pt-5">
                                    <div class="col-6">
                                        <button type="button" class="btn btn-outline-secondary w-100">Cancel</button>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-success w-100">Verify</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
</section>
</body>

</html>